.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

hr{
  width: 100%;
}
.hobbySet{
  display: flex;
  flex-flow: row nowrap;
  
}
.hobbyCard{
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  background: orange;
  border: 2px solid blue;
  border-radius: 5%;
  color: red;
  margin: 5px;
}
.hobbyCard h2{
  text-shadow: blue 2px 1px;
}
.hobbyCard p{
  font-size: 12pt;
  font-style: italic;
  font-weight: bold;
}
.hobbyCard img{
  width: 100%;
  height: 200px;
}
.hobbyCard:hover{
  margin-top: 0px;
}
.stopWatch{
  display: flex;
  flex-flow: row nowrap;
}